@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@require '../node_modules/react-datepicker/src/stylesheets/datepicker.scss';

:root {
  --text-primary: #565656;
  --bg-primary: #5956e9;
  --bg-primary-dark: #3f3cdd;
}

@layer base {
  html {
    font-family: Poppins;
    color: var(--text-primary);
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
  }

  /* width */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
  }

  /* Track */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #fafafa;
    border-radius: 8px;
  }

  /* Handle */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--bg-primary);
    border-radius: 8px;
    background-image: linear-gradient(
      to top bottom,
      var(--bg-primary),
      var(--bg-primary-dark)
    );
  }

  /* Handle on hover */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--bg-primary-dark);
    background-image: linear-gradient(
      to top bottom,
      var(--bg-primary),
      var(--bg-primary-dark)
    );
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input input:focus {
  outline: none !important;
}

.custom-number-input button:focus {
  outline: none !important;
}

.phoneInput {
  background-color: blue;
  height: 40px;
}

.PhoneInputInput {
  height: 40px;
  border-style: none;
  padding-left: 10px;
  outline: none;
}

.PhoneInputInput:focus {
  outline: none;
}

.react-datepicker__navigation {
  top: 16px !important;
}

.react-datepicker__header {
  background-color: #5956e910 !important;
  padding: 1rem !important;
}
.react-datepicker__header--time {
  background-color: "#ff0000" !important;
  padding: 1.75rem 1rem !important;
}
.react-datepicker__header__dropdown {
  color: var(--text-primary) !important;
  padding: 0 0.5rem !important;
}
.react-datepicker__year-dropdown {
  background-color: #fff !important;
  width: inherit !important;
  padding: -30px;
  margin: 15px 0 0 20px;
}
.react-datepicker__year-option:first-of-type,
.react-datepicker__year-option:last-of-type {
  height: 15px !important;
}
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__year-text {
  color: #565656 !important;
}

.react-datepicker__day--today {
  background-color: var(--text-primary) !important;
  color: #fff !important;
  font-weight: 600;
}
.react-datepicker__day--selected {
  background-color: var(--bg-primary) !important;
  color: #fff !important;
  font-weight: 600;
}

.react-datepicker__month {
  padding: 1rem 1rem;
}

.react-datepicker__month-container {
  background-color: #fff;
  color: #ff0000 !important;
  font-size: 13px;
  font-family: "Poppins";
}

.react-datepicker__time,
.react-datepicker__time-container,
.react-datepicker__time-box {
  background-color: #fff;
  width: 125px !important;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 125px !important;
}

ul.react-datepicker__time-list {
  margin: 0.75rem 0 !important;
}

.bg-primary-lite {
  background-color: #ebebff;
}
